<div class="container">
  <div class="d-flex justify-content-center flex-column">
    <div>
      <h2>Usuaris registrats: </h2>
    </div>
    <div>
      <h2>COTXES</h2>
    </div>
    <div>
      <h2>MOVIMENTS (VENTA-COMPRA)</h2>
    </div>

  </div>
</div>