<div
  class="p-3 p-md-5 m-md-3 text-center bg-light borderst"
>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Benvolgut a SecondCars!</h1>
    <p class="lead font-weight-normal">Vols veure el nostre catàleg de cotxes?</p>
    <a class="btn btn-outline-secondary" href="/compra">Entra-hi!</a>
  </div>
</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div
    class="bg-dark mr-md-3 px-3 px-md-5 text-center text-white overflow-hidden"
    style="padding-bottom: 30px;"
  >
    <div class="my-3">
      <h3 style="color: #ffffff;" class="display-5">Compra un cotxe</h3>
      
    </div>
    <div
      class="bg-light box-shadow mx-auto"
      style="width: 30%; height: 146px; border-radius: 21px 21px 21px 21px;margin-top: 62px;"
    >
    <img src="assets/img/car.png" style="height: 130px;">
    </div>
    <a style="margin-top:40px;" class="btn btn-outline-secondary" href="/compra">Entra-hi!</a>
  </div>
  <div
    class="bg-light mr-md-3 px-3 px-md-5 text-center overflow-hidden"
  >
    <div class="my-3">
      <h2 class="display-5">Ven el teu cotxe</h2>
    </div> 
    
    <div
      class="bg-dark box-shadow mx-auto"
      style="width: 30%; height: 146px; border-radius: 21px 21px 21px 21px; margin-top: 62px;"
    >
    <img src="assets/img/sellcar.png" style="height: 130px; margin-top: 8px;">
    </div>
    <a style="margin-top:40px;" class="btn btn-outline-secondary" href="/venta">Entra-hi!</a>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div
    class="bg-light mr-md-3 px-3 px-md-5 text-center overflow-hidden"
    style="padding-bottom: 20px; margin-bottom: 100px"
  >
    <div class="my-3">
      <h2 class="display-5">Financia amb nosaltres</h2>
    </div> 
    <div
      class="bg-dark box-shadow mx-auto"
      style="width: 30%; height: 146px; border-radius: 21px 21px 21px 21px; margin-top: 62px; "
    >
    <img src="assets/img/financiar.png" style="height: 130px; margin-top: 8px;">
    </div>
    <a style="margin-top:40px;" class="btn btn-outline-secondary" href="/financiar">Consulta-hi!</a>
  </div>
<div
    class="bg-dark mr-md-3 px-3 px-md-5 text-center text-white overflow-hidden"
    style="padding-bottom: 20px; margin-bottom: 100px"
  >
    <div class="my-3">
      <h3 style="color: #ffffff;" class="display-5">Contacte</h3>
      
    </div>
    <div
      class="bg-light box-shadow mx-auto"
      style="width: 30%; height: 146px; border-radius: 21px 21px 21px 21px;margin-top: 62px;"
    >
    <img src="assets/img/formulario-de-adopcion.png" style="height: 120px; margin-top: 10px;">
    </div>
    <a style="margin-top:40px;" class="btn btn-outline-secondary" href="/contacte">Contactans!</a>
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{! <script>window.jQuery || document.write('<script
  src="../../assets/js/vendor/jquery-slim.min.js"><\\\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script> }}
